.mp_container {
   height: calc(100vh - 60px);
   padding-top: 0.5em;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   //    background: grey;
   position: relative;
   flex-direction: row;
   overflow: hidden;
}
.no_nft_found_for_myNFT {
   height: 520px;
   width: 100%;
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: center;
   font-weight: 700;
   font-size: 1.5rem;
}
.no_nft_found {
   height: 510px;
   width: 100%;
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: center;
   font-weight: 700;
   font-size: 1.5rem;
}
.mp_filters_1 {
   /* width: 320px; */
   /* min-width: 200px; */
   /* height: auto; */
   flex-direction: column;
   padding: 0 0.5em;
   overflow: scroll;
   min-height: 50px;
   display: flex;
   /* align-items: center;
   //    background: rgba(0, 0, 0, 0.1);
   /* Hide scrollbar for Chrome, Safari and Opera */
   &::-webkit-scrollbar {
      display: none;
   }
   /* Hide scrollbar for IE, Edge and Firefox */
   & {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
   }
   .mp_filter_mobile {
      width: 100%;
      min-height: 50px;
      background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(179, 177, 177, 1) 100%);
      border-radius: 10px;
      border: 3px solid #333;
      box-shadow: inset 0px -2px 0px rgba(179, 177, 177, 1);
      font-weight: 700;
      font-size: 1.3rem;
      align-items: center;
      justify-content: center;
      margin-top: 7px;
      margin-bottom: 7px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
   }
   .mp_filter_1_input {
      position: absolute;
      opacity: 0;
      &:checked ~ .mp_filters_container {
         height: calc(100vh - 80px);
      }
   }
   .mp_filters_header {
      width: 100%;
      height: 60px;
      min-height: 60px;
      //   background: tomato;
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid #333;
      margin-bottom: 5px;
      padding-bottom: 0.3em;
      span:nth-child(1) {
         font-size: 1.3rem;
         font-weight: 700;
         margin-left: 2px;
         height: 100%;
         display: flex;
         align-items: center;
      }
      span:nth-child(2) {
         height: 50px;
         background: linear-gradient(0deg, #ffe17f 0%, #fcc578 100%);
         box-shadow: inset 0 -2px 0 #eead52;
         border: 3px solid #333;
         font-weight: 700;
         font-size: 1.1rem;
         display: flex;
         padding: 0 0.5em;
         border-radius: 10px;
         align-items: center;
         justify-content: center;
         cursor: pointer;
         &:active {
            box-shadow: inset 0 0px 0 #eead52;
         }
      }
   }
}
.mp_content {
   width: 100%;
   max-width: 1200px;
   height: 100%;
   overflow-y: auto;
   // background: rgba(0, 0, 0, 0.3);
   /* Hide scrollbar for Chrome, Safari and Opera */
   &::-webkit-scrollbar {
      display: none;
   }

   /* Hide scrollbar for IE, Edge and Firefox */
   & {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
   }
   .mp_cards {
      // width: 100%;
      // min-height: 500px;
      // height: auto;
      // background: rgba(0, 0, 0, 0.3);
      width: 100%;
      max-width: 1200px;
      height: auto;
      min-height: 500px;
      // background: rgba(0, 0, 0, 0.4);
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px 40px;
      padding: 10px 20px 7px 20px;
   }
   .mp_filters_2 {
      width: 100%;
      height: 60px;
      // background: rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: flex-end;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      padding: 0 0.5em;
      span {
         padding: 0 0.9em 0 0.7em;
         font-weight: 700;
         font-size: 1.1rem;
         border: 3px solid #333;
         min-width: 50px;
         height: 50px;
         background: white;
         border-radius: 10px;
         display: flex;
         flex-direction: row;
         align-items: center;
         &:nth-child(1) {
            background: linear-gradient(0deg, #ffe17f 0%, #fcc578 100%);
            box-shadow: inset 0 -2px 0 #eead52;
            &:active {
               box-shadow: inset 0 0px 0 #eead52;
            }
         }
         &:nth-child(2) {
            background: linear-gradient(0deg, rgba(131, 237, 212, 1) 0%, rgba(73, 221, 74, 1) 100%);
            box-shadow: inset 0 -2px 0 #37b837;
            &:active {
               box-shadow: inset 0 0px 0 #37b837;
            }
         }
      }
   }
}

.mp_price_filter {
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-bottom: 5px;
   font-family: 'Poppins', sans-serif;
   p {
      width: 100%;
      margin-left: 2px;
      margin-bottom: 5px;
      font-weight: 600;
      font-size: 1.1em;
   }
   input {
      width: 60px;
      height: 40px;
      border-radius: 10px;
      border: 3px solid #333;
      font-weight: 700;
      color: black;
      font-family: 'Poppins', sans-serif;
      font-size: 1rem;
      text-indent: 7px;
      &::placeholder {
         /* Chrome, Firefox, Opera, Safari 10.1+ */
         color: #333;
         opacity: 1; /* Firefox */
      }
      &:-ms-input-placeholder {
         /* Internet Explorer 10-11 */
         color: #333;
      }
      &::-ms-input-placeholder {
         /* Microsoft Edge */
         color: #333;
      }
   }
   button {
      width: 65px;
      height: 48px;
      border-radius: 10px;
      border: 3px solid #333;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      background: linear-gradient(0deg, #b4f3ff 0%, #78e1fc 100%);
      box-shadow: inset 0 -2px 0 #57b1a8;
      font-size: 1.1rem;
      cursor: pointer;
      &:active {
         box-shadow: inset 0 0px 0 #57b1a8;
      }
   }
   input::-webkit-outer-spin-button,
   input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
   }
}

.mp_filter_container {
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   margin-bottom: 6px;
   .mp_filter_selections {
      width: 100%;
      height: 0px;
      background: white;
      border: 0px solid #333;
      display: flex;
      flex-direction: column;
      padding: 0 0;
      border-radius: 10px;
      opacity: 0;
      overflow: hidden;
      //  transition: all 0.1s linear;
      .mp_filter_option {
         width: 100%;
         height: 30px;
         display: flex;
         align-items: center;
         position: relative;
         padding-left: 2.7em;
         opacity: 0;
         font-weight: 600;
         /* Create a custom radio button */
         .checkmark {
            position: absolute;
            top: 50%;
            left: 5%;
            height: 22px;
            width: 22px;
            transform: translate(0%, -50%);
            background-color: #eee;
            border-radius: 50%;
            &:after {
               top: 9px;
               left: 9px;
               width: 8px;
               height: 8px;
               border-radius: 50%;
               background: white;
            }
         }
         /* On mouse-over, add a grey background color */
         &:hover input ~ .checkmark {
            background: #ccc;
         }
         input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            /* When the radio button is checked, add a blue background */
            &:checked ~ .checkmark {
               background-color: #2196f3;
            }
         }
      }
   }
   .mp_dropdown_input {
      position: absolute;
      opacity: 0;
      &:checked ~ .mp_filter_selections > .mp_filter_option {
         opacity: 1;
         // transition: all 0.2s linear;
      }
      &:checked ~ .mp_filter_selections {
         height: calc(100% - 60px);
         padding: 0.2em 0;
         border: 3px solid #333;
         opacity: 1;
         margin-top: 6px;
         // transition: all 0.1s linear;
      }
   }
   .mp_filter_button {
      width: 100%;
      height: 50px;
      min-height: 50px;
      background: linear-gradient(0deg, #b4f3ff 0%, #78e1fc 100%);
      box-shadow: inset 0 -2px 0 #57b1a8;
      border: 3px solid #333;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:active {
         box-shadow: inset 0 0px 0 #57b1a8;
      }
      p {
         margin-left: 10px;
         font-weight: 700;
         font-size: 1.1rem;
      }
      span {
         width: 20px;
         margin-right: 10px;
         height: 20px;
         background: #333;
         border-radius: 50%;
      }
   }
}

@media only screen and (max-width: 768px) {
   .mp_container {
      flex-direction: column;
   }
   .mp_filters_container {
      width: 100%;
      height: 0px;
      overflow: scroll;
      /* Hide scrollbar for Chrome, Safari and Opera */
      &::-webkit-scrollbar {
         display: none;
      }
      /* Hide scrollbar for IE, Edge and Firefox */
      & {
         -ms-overflow-style: none; /* IE and Edge */
         scrollbar-width: none; /* Firefox */
      }
   }
}

@media only screen and (min-width: 768px) {
   .mp_filters_container {
      height: calc(100vh - 80px);
   }
}

#filter_checkbox {
   color: black;
}
