@mixin flex($align-items: null, $justify-content: null, $flex-direction: null, $flex-wrap: null) {
   display: flex;
   align-items: $align-items;
   justify-content: $justify-content;
   flex-direction: $flex-direction;
   flex-wrap: $flex-wrap;
}

@mixin size($width: null, $height: null, $max-height: null, $max-width: null) {
   width: $width;
   height: $height;
   max-width: $max-width;
   max-height: $max-height;
}

@mixin bg_url($url, $bg-repeat: null, $bg-size: null) {
   background: $url;
   background-repeat: $bg-repeat;
   background-size: $bg-size;
}
