.notif_container {
   min-width: 250px;
   max-width: 400px;
   width: auto;
   height: auto;
   margin: 0px 15px;
   // background: white;
   position: fixed;
   right: 0;
   top: 70px;
   z-index: 999;
   display: flex;
   flex-direction: column;
   gap: 10px;
   overflow: hidden;
   justify-content: flex-end;
}
.notif {
   display: flex;
   flex-direction: row;
   width: 250px;
   min-width: 100px;
   border-radius: 10px;
   padding: 1em;
   border: 3px solid #333;
   position: relative;
   animation: notif_fade_out 0.5s 4s linear;
   &::before {
      position: absolute;
      content: '';
      width: 101%;
      box-shadow: inset 0px -4px 0px #333;
      height: 23px;
      left: -2px;
      bottom: -2px;
      border-radius: 0px 0px 10px 10px;
      animation: box_shadow_loading 4s linear;
   }
}
@keyframes notif_fade_out {
   0% {
      left: 0;
      opacity: 1;
   }
   100% {
      left: 100%;
      opacity: 0;
   }
}
@keyframes box_shadow_loading {
   0% {
      width: 0;
      border-radius: 0px 0px 0px 10px;
   }
   99% {
      border-radius: 0px 0px 0px 10px;
   }
   100% {
      width: 101%;
      border-radius: 0px 0px 10px 10px;
   }
}
.error {
   background: linear-gradient(0deg, rgba(255, 191, 191, 1) 0%, rgba(255, 175, 175, 1) 100%);
   box-shadow: inset 0 -3px 0 rgb(241, 155, 140);
}
.success {
   background: linear-gradient(0deg, rgba(234, 246, 149, 1) 0%, rgba(229, 246, 98, 1) 100%);
   box-shadow: inset 0 -3px 0 #c3d442;
}
.default {
   background: linear-gradient(0deg, rgba(242, 242, 242, 1) 0%, rgba(207, 207, 207, 1) 100%);
   box-shadow: inset 0 -3px 0 white;
}
@media only screen and (min-width: 600px) {
   .notif {
      width: 350px;
   }
}

@media only screen and (min-width: 768px) {
   .notif {
      width: 400px;
   }
}
