.transac_container {
   width: 100%;
   height: auto;
   min-height: calc(100vh - 60px);
   // background: rgba(0, 0, 0, 0.2);
   padding: 1em;
   .transac_filter_text {
      font-weight: 700;
      font-size: 1.1em;
      margin-left: 2px;
      margin-bottom: 5px;
      height: 10px;
      width: auto;
   }
}
.transac_filters {
   width: 100%;
   min-height: 50px;
   height: auto;
   // background: grey;
   margin-top: 5px;
   margin-bottom: 10px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 10px;
   .simple_filters {
      width: auto;
      height: auto;
      gap: 10px;
      flex-wrap: wrap;
      justify-content: center;
      display: flex;
      flex-direction: row;
      .simpler_filter {
         width: 200px;
         min-width: 200px;
         height: 50px;
         border-radius: 10px;
         background: white;
         border: 3px solid #333;
         background: linear-gradient(0deg, #b4f3ff 0%, #78e1fc 100%);
         box-shadow: inset 0 -2px 0 #57b1a8;
         cursor: pointer;
         display: flex;
         justify-content: space-between;
         flex-direction: row;
         span:nth-child(1) {
            width: auto;
            height: 100%;
            font-weight: 700;
            font-size: 1.2em;
            display: flex;
            align-items: center;
            margin-left: 13px;
            padding-bottom: 2px;
         }
         .simpler_filter_control {
            width: 65px;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-right: 11px;
            // background: tomato;
            span {
               width: 50%;
               height: 100%;
               margin: 0;
               // background: grey;
               display: flex;
               align-items: center;
               justify-content: center;
            }
         }
      }
   }
   .simpler_filter_2 {
      width: auto;
      min-width: 200px;
      height: 50px;
      border-radius: 10px;
      background: white;
      background: linear-gradient(0deg, #ffe17f 0%, #fcc578 100%);
      box-shadow: inset 0 -2px 0 #eead52;
      border: 3px solid #333;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 7px;
      padding: 0em 0.5em;
      div {
         cursor: pointer;
         padding: 0.5em 0.5em;
         // background: white;
         border: 2px solid black;
         border-radius: 7px;
         margin-bottom: 1.5px;
      }
      .active {
         background: black;
         color: white;
      }
   }
}

.transac_contents {
   width: 100%;
   min-height: 490px;
   height: auto;
   margin-bottom: 10px;
   display: flex;
   flex-direction: column;
   gap: 4px;
   // border-radius: 10px;
   .transac_receipt {
      width: 100%;
      height: 50px;
      border-radius: 10px;
      background: rgb(235, 232, 232);
      background: linear-gradient(0deg, rgba(235, 232, 232, 1) 0%, rgba(255, 255, 255, 1) 100%);
      // border: 1px solid #333;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0em 0.5em;
      flex-wrap: wrap;
      overflow: hidden;
      .transac_type {
         width: 58px;
         height: 36px;
         font-weight: 700;
         font-size: 1em;
         border: 1px solid black;
         border-radius: 7px;
         align-items: center;
         justify-content: center;
         text-decoration: none;
         color: black;
      }
      .sell {
         letter-spacing: 1px;
         background: rgb(255, 199, 189);
         // color: white;
         display: flex;
      }
      .buy {
         letter-spacing: 1px;
         background: rgb(190, 255, 129);
         // color: white;
         display: flex;
      }
      .mint {
         letter-spacing: 1px;
         background: rgb(173, 248, 244);
         // color: white;
         display: flex;
      }
      .nft {
         letter-spacing: 1px;
         background: rgb(211, 211, 211);
         display: flex;
      }
      .date {
         margin-left: 10px;
         letter-spacing: 1px;
         background: rgb(211, 211, 211);
      }
      .transac_stats,
      .transac_stats_view,
      .transac_stats_date {
         height: 100%;
         align-items: center;
         flex-direction: row;
         font-weight: 700;
         font-size: 1em;
         margin-left: 7px;
         margin-right: 7px;
         text-decoration: none;
         color: black;
      }
      .transac_stats {
         width: 100px;
         display: flex;
      }
      .transac_stats_view {
         display: flex;
         width: 60px;
         cursor: pointer;
      }
      .transac_stats_date {
         width: calc(100% - 393px);
         min-width: 203px;
      }
   }
}

.transac_pagination {
   width: 100%;
   min-height: 50px;
   height: auto;
   background: grey;
   margin-bottom: 10px;
   border-radius: 10px;
}

@media only screen and (max-width: 768px) {
   .transac_filters {
      justify-content: center;
      .simple_filters {
         width: 100%;
      }
   }
}
