.vc_container {
   width: 100%;
   min-height: calc(100vh - 60px);
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow: auto;
   justify-content: center;
   padding: 1em;
   position: relative;
}
.vc_loading {
   svg {
      width: 100px;
      height: 100px;
      margin: 20px;
      display: inline-block;
   }
}
.vc_error {
   width: auto;
   height: 200px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 700;
   font-size: 2rem;
}
.vc_sold {
   width: auto;
   height: 200px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 700;
   font-size: 2rem;
}
.vc_back_button {
   width: 100%;
   max-width: 700px;
   height: 50px;
   min-height: 50px;
   //    background: white;
   a {
      button {
         width: 100px;
         height: 100%;
         background: linear-gradient(0deg, #ffe17f 0%, #fcc578 100%);
         box-shadow: inset 0 -2px 0 #eead52;
         border: 3px solid #333;
         border-radius: 10px;
         font-weight: 700;
         font-size: 1.1rem;
         font-family: 'Poppins', sans-serif;
         color: #333;
         cursor: pointer;
         &:active {
            box-shadow: inset 0 0px 0 #eead52;
         }
      }
   }
}
.vc_nft_card_container {
   width: 100%;
   max-width: 700px;
   height: auto;
   position: relative;
   margin-top: 20px;
}

.vc_nft_header {
   &_common,
   &_uncommon,
   &_rare,
   &_epic,
   &_legendary {
      width: 100%;
      height: 100px;
      border-radius: 15px 15px 0px 0px;
      padding-bottom: 1em;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-weight: 700;
      color: #333;
      p:nth-child(1) {
         font-size: 2rem;
      }
      p:nth-child(2) {
         font-size: 1.1rem;
      }
   }

   &_common {
      background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(181, 177, 177, 1) 100%);
      box-shadow: inset 0px 4px 0px rgba(255, 255, 255, 0.4), 0px -11px 32px -5px white;
   }
   &_uncommon {
      background: radial-gradient(circle, rgba(247, 255, 103, 1) 0%, rgba(226, 187, 31, 1) 100%);
      box-shadow: inset 0px 4px 0px rgba(255, 255, 255, 0.4),
         0px -11px 32px -5px rgba(247, 255, 103, 1);
   }
   &_rare {
      background: radial-gradient(circle, rgba(250, 166, 166, 1) 0%, rgba(213, 39, 39, 1) 100%);
      box-shadow: inset 0px 4px 0px rgba(255, 255, 255, 0.4),
         0px -11px 32px -5px rgba(250, 166, 166, 1);
   }
   &_epic {
      background: radial-gradient(circle, rgba(241, 112, 255, 1) 0%, rgba(120, 29, 159, 1) 100%);
      box-shadow: inset 0px 4px 0px rgba(255, 255, 255, 0.4), 0px -9px 48px 1px #f49bfa;
   }
   &_legendary {
      background: radial-gradient(circle, #99eff0 0%, #2095b4 100%);
      box-shadow: inset 0px 4px 0px rgba(255, 255, 255, 0.4), 0px -11px 32px -5px #99eff0;
   }
}

.vc_nft_content {
   &_common,
   &_uncommon,
   &_rare,
   &_epic,
   &_legendary {
      width: 100%;
      height: auto;
      border-radius: 15px;
      background: #333;
      margin-top: 80px;
      position: relative;
      padding-top: 1.5em;
   }
   &_common {
      box-shadow: inset 0px 16px 29px -24px white, 0px -1px 44px -5px;
   }
   &_uncommon {
      box-shadow: inset 0px 16px 29px -24px rgba(247, 255, 103, 1), 0px -1px 44px -5px;
   }
   &_rare {
      box-shadow: inset 0px 16px 29px -24px rgb(255, 145, 145), 0px -1px 44px -5px;
   }
   &_epic {
      box-shadow: inset 0px 16px 29px -24px #f49bfa, 0px -1px 44px -5px;
   }
   &_legendary {
      box-shadow: inset 0px 16px 29px -24px #99eff0, 0px -1px 44px -5px;
   }
}
.vc_nft_hero_data {
   width: 100%;
   min-height: 200px;
   //    background: white;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   .vc_nft_img {
      width: 200px;
      height: 200px;
      background-size: 100%;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      span {
         content: '';
         position: absolute;
         width: 1px;
         height: 1px;
         border-radius: 50%;
         background: white;
         transform: translate(-50%, -50%);
         top: 50%;
         left: 50%;
         box-shadow: 0px 0px 42px 35px white;
      }
   }
   .vc_nft_stats {
      width: calc(100% - 250px);
      min-width: 230px;
      min-height: 200px;
      //   background: rgba(151, 20, 81, 0.5);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: auto;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 1em 1em;
      .vc_nft_stat {
         display: flex;
         width: 40%;
         min-width: 180px;
         height: 50px;
         //  background: white;
         position: relative;
         &::before {
            position: absolute;
            content: '';
            width: 2px;
            height: 2px;
            background: white;
            border-radius: 50%;
            top: 50%;
            left: 12%;
            transform: translate(-50%, -50%);
            z-index: 0;
            box-shadow: 0px 0px 48px 10px white;
         }
      }
      .nft_stat_desc {
         color: white;
         font-weight: 700;
         margin-left: 10px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         p:nth-child(1) {
            font-size: 1.7rem;
         }
      }
      .nft_stat_img {
         &_pAttack,
         &_mAttack,
         &_health,
         &_defence,
         &_speed {
            width: 50px;
            height: 100%;
            border-radius: 10px;
            z-index: 1;
         }
         &_pAttack {
            background: url('https://herosaga.netlify.app/images/misc/Icon37.webp');
            background-repeat: no-repeat;
            background-size: 100%;
         }
         &_mAttack {
            background: url('https://herosaga.netlify.app/images/misc/Icon45.webp');
            background-repeat: no-repeat;
            background-size: 100%;
         }
         &_health {
            background: url('https://herosaga.netlify.app/images/misc/Icon10.webp');
            background-repeat: no-repeat;
            background-size: 100%;
         }
         &_defence {
            background: url('https://herosaga.netlify.app/images/misc/Icon12.webp');
            background-repeat: no-repeat;
            background-size: 100%;
         }
         &_speed {
            background: url('https://herosaga.netlify.app/images/misc/Icon35.webp');
            background-repeat: no-repeat;
            background-size: 100%;
         }
      }
   }
}

.vc_nft_auction_data {
   width: 100%;
   min-height: 100px;
   //    background: rgb(250, 178, 178);
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   height: auto;
   .vc_auction_price {
      width: 200px;
      min-height: 100px;
      height: 100%;
      //   background: white;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 0.7em;
      .vc_auction_input {
         color: white;
         font-weight: 700;
         margin-left: 10px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         position: relative;
         input {
            position: absolute;
            top: -2%;
            left: -16%;
            width: 150px;
            height: 30px;
            border-radius: 10px;
            border: none;
            margin-bottom: 4px;
            text-indent: 5px;
            font-weight: 700;
            cursor: pointer;
            font-size: 1.7rem;
            font-family: 'Poppins', sans-serif;
            background: none;
            color: white;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
               -webkit-appearance: none;
               margin: 0;
            }
            &:active,
            &:focus {
               border: none;
               outline: none;
            }
            &::placeholder {
               /* Chrome, Firefox, Opera, Safari 10.1+ */
               color: white;
               opacity: 1; /* Firefox */
               text-indent: 5px;
               font-weight: 700;
            }
            &:-ms-input-placeholder {
               /* Internet Explorer 10-11 */
               color: white;
               text-indent: 5px;
               font-weight: 700;
            }
            &::-ms-input-placeholder {
               /* Microsoft Edge */
               color: white;
               text-indent: 5px;
               font-weight: 700;
            }
         }
         p:nth-child(1) {
            font-size: 1.7rem;
         }
         p:nth-child(2) {
            margin-top: 27px;
            margin-left: 1px;
         }
      }

      div:nth-child(1) {
         width: 50px;
         min-width: 50px;
         min-height: 50px;
         height: 50px;
         background: url('https://herosaga.netlify.app/images/misc/Icon47.webp');
         background-size: 100%;
         background-repeat: no-repeat;
         border-radius: 10px;
      }
      .vc_auction_price_text {
         color: white;
         font-weight: 700;
         margin-left: 10px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         p:nth-child(1) {
            font-size: 1.7rem;
         }
         p:nth-child(2) {
            margin-left: 1px;
         }
      }
   }
   .vc_auction_button {
      width: 200px;
      height: 100px;
      //   background: rgb(236, 108, 108);
      width: calc(100% - 250px);
      min-width: 230px;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
         height: 50px;
         width: 90%;
         min-width: 140px;
         display: flex;
         align-items: center;
         justify-content: center;
         font-family: 'Poppins', sans-serif;
         border-radius: 10px;
         background: linear-gradient(0deg, #ffe17f 0%, #fcc578 100%);
         box-shadow: inset 0 -2px 0 #eead52;
         border: 3px solid rgb(160, 160, 160);
         border-radius: 10px;
         font-weight: 700;
         font-size: 1.5rem;
         color: #333;
         cursor: pointer;
         &:active {
            box-shadow: inset 0 0px 0 #eead52;
         }
      }
   }
}

.hero_halo {
   &_common1::before,
   &_uncommon1::before,
   &_phoenix::before,
   &_bahamut::before,
   &_siren::before,
   &_leviathan::before,
   &_titan::before,
   &_shiva::before,
   &_scarletangel::before,
   &_darklord::before,
   &_herald::before,
   &_magician::before,
   &_monk::before,
   &_vampire::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      filter: brightness(80%) contrast(200%);
      mix-blend-mode: color-dodge;
      box-shadow: inset 0px 0px 22px 20px #333;
   }
   &_common1::before {
      background: url('https://herosaga.netlify.app/images/bg/Shaman17.webp') no-repeat;
      background-size: 100%;
      background-repeat: no-repeat;
   }
   &_uncommon1::before {
      background: url('https://herosaga.netlify.app/images/bg/Electromancer16-1.webp') no-repeat
         center;
      background-size: 100%;
      background-repeat: no-repeat;
   }
   &_phoenix::before {
      background: url('https://herosaga.netlify.app/images/bg/bg-phoenix.webp') no-repeat center;
      background-size: 100%;
      background-repeat: no-repeat;
   }
   &_bahamut::before {
      background: url('https://herosaga.netlify.app/images/bg/bg-bahamut.webp') no-repeat center;
      background-size: 100%;
      background-repeat: no-repeat;
   }
   &_siren::before {
      background: url('https://herosaga.netlify.app/images/bg/bg-siren.webp') no-repeat center;
      background-size: 100%;
      background-repeat: no-repeat;
   }
   &_leviathan::before {
      background: url('https://herosaga.netlify.app/images/bg/Deathknight14.webp') no-repeat center;
      background-size: 100%;
      background-repeat: no-repeat;
   }
   &_titan::before {
      background: url('https://herosaga.netlify.app/images/bg/Geomancer5.webp') no-repeat center;
      background-size: 100%;
      background-repeat: no-repeat;
   }
   &_shiva::before {
      background: url('https://herosaga.netlify.app/images/bg/Spell-Book-Preface15.webp') no-repeat
         center;
      background-size: 100%;
      background-repeat: no-repeat;
   }
   &_scarletangel::before {
      background: url('https://herosaga.netlify.app/images/bg/Enchanter2.webp') no-repeat center;
      background-size: 100%;
      background-repeat: no-repeat;
   }
   &_darklord::before {
      background: url('https://herosaga.netlify.app/images/bg/Spell-Book-Preface01.webp') no-repeat
         center;
      background-size: 100%;
      background-repeat: no-repeat;
   }
   &_herald::before {
      background: url('https://herosaga.netlify.app/images/bg/Cultist12.webp') no-repeat;
      background-size: 100%;
      background-repeat: no-repeat;
   }
   &_magician::before {
      background: url('https://herosaga.netlify.app/images/bg/bg-leviathan.webp') no-repeat center;
      background-size: 100%;
      background-repeat: no-repeat;
   }
   &_monk::before {
      background: url('https://herosaga.netlify.app/images/bg/Berserker10.webp') no-repeat center;
      background-size: 100%;
      background-repeat: no-repeat;
   }
   &_vampire::before {
      background: url('https://herosaga.netlify.app/images/bg/Necromancer3.webp') no-repeat center;
      background-size: 100%;
      background-repeat: no-repeat;
   }
}
