.login_register_buttons {
   @include size(110%, 60px);
   @include flex(center, none, row, nowrap);
   min-height: 60px;

   .login_button {
      @include size(50%, 100%);
      background: linear-gradient(97deg, rgba(50, 56, 93, 1) 0%, rgba(16, 9, 48, 1) 100%);
      position: relative;
      transform: skew(-20deg) translateX(-7%);
      font-family: 'Poppins', sans-serif;
      &:hover {
         cursor: pointer;
      }
      &::before {
         position: absolute;
         content: 'Login';
         transform: skew(20deg) translate(-50%, -50%);
         top: 50%;
         left: 50%;
         font-weight: bold;
         color: $white;
      }
   }
   .register_button {
      @include size(50%, 100%);
      position: relative;
      font-family: 'Poppins', sans-serif;
      transform: skew(-20deg) translateX(-7.3%);
      background: linear-gradient(97deg, rgba(16, 9, 48, 1) 0%, rgba(50, 56, 93, 1) 100%);
      &:hover {
         cursor: pointer;
      }
      &::before {
         position: absolute;
         content: 'Register';
         transform: skew(20deg) translate(-50%, -50%);
         top: 50%;
         left: 50%;
         font-weight: bold;
         color: $white;
      }
   }
}

.welcome_forms_button_anim {
   @include size(110%, 60px);
   @include flex(center, null, row, nowrap);
   background: $black-100;
   position: absolute;
   pointer-events: none;
   overflow: hidden;
   left: -4%;
   z-index: 1;

   .login_button_active {
      @include size(50%, 100%);
      transition: width ease-in-out 0.3s;
   }
   .reg_button_active {
      @include size(0%, 100%);
      transition: width ease-in-out 0.3s;
   }
   & > div:last-child {
      @include size(50%, 100%);
      background: $black-500;
      transform: skew(-20deg);
   }
}

.login_register_forms {
   @include size(100%);
   display: inline-flex;
   top: 60px;
   right: 100%;

   .login_active_form {
      @include size(100%, 50%);
      margin-right: 100%;
      transition: margin-right ease-out 0.3s;
   }
   .reg_active_form {
      @include size(100%, 50%);
      margin-right: 0%;
      transition: margin-right ease-out 0.3s;
      & ~ .login_form_container {
         left: -100%;
         transition: left ease-in-out 0.3s;
      }
   }
   .login_form_container {
      width: 100%;
      height: auto;
      flex: 0 0 100%;
      position: absolute;
      left: 0%;
      transition: left ease-in-out 0.3s;
   }

   .reg_form_container {
      width: 100%;
      height: auto;
      flex: 0 0 100%;
      padding: 1em;
   }
}

.alert_enter {
   opacity: 0;
   width: 0;
}
.alert_enter_active {
   opacity: 1;
   width: 100%;
   transform: translateX(0);
   transition: opacity 300ms, transform 300ms, width 300ms;
}
.alert_exit {
   opacity: 1;
   width: 100%;
}
.alert_exit_active {
   opacity: 0;
   width: 0;
   transition: opacity 300ms, transform 300ms, width 300ms;
}

.wl_container {
   width: 100%;
   min-height: 100vh;
   overflow: hidden;
   position: relative;
   &::before {
      width: 200%;
      height: 100%;
      position: absolute;
      content: '';
      background: url('https://i.ibb.co/mCcPbBM/green-checkboard.webp');
      background-size: cover;
      z-index: -1;
      animation: bg_slide 35s linear infinite;
      @keyframes bg_slide {
         0% {
            transform: translateX(0) translateZ(0);
         }
         50% {
            transform: translateX(-25%) translateZ(0);
         }
         100% {
            transform: translateX(-50%) translateZ(0);
         }
      }
   }
}

.wl_submit_button {
   width: 100%;
   display: flex;
   justify-content: center;
}

.wl_forms_container {
   width: 100%;
   min-height: 100vh;
   overflow: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 1em;
}
.wl_validator_container {
   width: 100%;
   display: flex;
   justify-content: center;
}
.wl_validator {
   width: 330px;
   height: auto;
   padding: 1em;
   margin: 10px;
   background: white;
   clip-path: polygon(
      15px 0,
      100% 0,
      100% calc(100% - 15px),
      calc(100% - 15px) 100%,
      0 100%,
      0 15px
   );
   display: flex;
   flex-direction: column;
}
.ws_stats_container {
   width: 100%;
   display: flex;
   justify-content: center;
}

.welcome_logo_banner {
   @include size(100%, 60px);
   @include flex(center, center);
   display: flex;
   flex-direction: column;
   img {
      margin-right: 10px;
   }
}

.wl_forms_fp_container {
   width: 100%;
   min-height: 100vh;
   overflow: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 1em;
}

@media only screen and (max-width: 500px) {
   .wl_forms_container {
      justify-content: flex-start;
      padding-bottom: 1em;
      overflow: auto;
   }
}
