{
   "presets": [
      [
         "@babel/preset-env",
         {
            "targets": {
               "esmodules": true
            }, //Target of websites to load polyfill
            "corejs": "3.20.2",
            "shippedProposals": true,
            "useBuiltIns": "usage" //Transpile codes when it requires
         }
      ],
      [
         "@babel/preset-react",
         {
            "runtime": "automatic"
         }
      ],
      "@babel/preset-typescript"
   ],
   "plugins": [
      [
         "@babel/plugin-transform-runtime",
         {
            "regenarator": true
         }
      ]
   ]
}
