.user-nfts-card {
   width: 180px;
   height: 250px;
   min-width: 180px;
   border-radius: 10px;
   overflow: hidden;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   // background: chocolate;
   box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.3);
   position: relative;
   animation: fade-in-center 0.3s ease-in-out;
   @keyframes fade-in-center {
      0% {
         opacity: 0;
         margin-left: 5px;
      }
      100% {
         opacity: 1;
         margin-left: 0px;
      }
   }
   .user-nfts-card-hero {
      position: absolute;
      width: 100%;
      height: 85%;
      border-radius: 10px;
      box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.9);
      // background: #333;
      // background: rgb(86, 91, 95);
      background: linear-gradient(0deg, rgba(24, 63, 103, 1) 0%, rgba(16, 15, 82, 1) 100%);
      z-index: 2;
      .hero-card-bg {
         &-common::before,
         &-uncommon1::before,
         &-uncommon2::before,
         &-rare::before,
         &-magician::before,
         &-herald::before,
         &-vampire::before,
         &-monk::before,
         &-epic::before,
         &-darklord::before,
         &-scarletangel::before,
         &-shiva::before,
         &-titan::before,
         &-bahamut::before,
         &-unrare::before,
         &-leviathan::before,
         &-siren::before,
         &-phoenix::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            transform: translate(-50%, -50%);
            filter: brightness(80%) contrast(200%);
            mix-blend-mode: color-dodge;
            z-index: -1;
         }
         &-common::before {
            background: url('http://localhost:3000/images/Shaman17.png') no-repeat;
            background-size: 100%;
            top: 50%;
            left: 50%;
         }
         &-uncommon1::before {
            background: url('http://localhost:3000/images/SpellBookPreface19.png') no-repeat center;
            background-size: 100%;
            top: 50%;
            left: 50%;
         }
         &-uncommon2::before {
            background: url('http://localhost:3000/images/Electromancer16.png') no-repeat;
            background-size: 100%;
            top: 50%;
            left: 50%;
         }
         &-rare::before {
            background: url('http://localhost:3000/images/Necromancer3.png') no-repeat;
            background-size: 100%;
            top: 50%;
            left: 50%;
         }
         &-epic::before {
            background: url('http://localhost:3000/images/Necromancer3.png') no-repeat;
            background-size: 100%;
            top: 50%;
            left: 50%;
         }
         &-phoenix::before {
            background: url('http://localhost:3000/images/bg-phoenix.png') no-repeat center;
            background-size: 100%;
            top: 40%;
            left: 50%;
         }
         &-bahamut::before {
            background: url('http://localhost:3000/images/bg-bahamut.png') no-repeat center;
            background-size: 100%;
            transform: rotate(138deg);
            transform-origin: top left;
            top: 38%;
            left: 117%;
         }
         &-siren::before {
            background: url('http://localhost:3000/images/bg-siren.png') no-repeat center;
            background-size: 110%;
            top: 50%;
            left: 50%;
         }
         &-leviathan::before {
            background: url('http://localhost:3000/images/Deathknight14.png') no-repeat center;
            background-size: 110%;
            top: 50%;
            left: 50%;
         }
         &-titan::before {
            background: url('http://localhost:3000/images/Geomancer5.png') no-repeat center;
            background-size: 110%;
            top: 50%;
            left: 50%;
         }
         &-shiva::before {
            background: url('http://localhost:3000/images/SpellBookPreface15.png') no-repeat center;
            background-size: 110%;
            top: 50%;
            left: 50%;
         }
         &-scarletangel::before {
            background: url('http://localhost:3000/images/Enchanter2.png') no-repeat center;
            background-size: 110%;
            top: 50%;
            left: 50%;
         }
         &-darklord::before {
            background: url('http://localhost:3000/images/SpellBookPreface01.png') no-repeat center;
            background-size: 110%;
            top: 50%;
            left: 50%;
         }
         &-herald::before {
            background: url('http://localhost:3000/images/Cultist12.png') no-repeat;
            background-size: 100%;
            top: 50%;
            left: 50%;
         }
         &-magician::before {
            background: url('http://localhost:3000/images/bg-leviathan.png') no-repeat center;
            background-size: 100%;
            top: 50%;
            left: 50%;
         }
         &-monk::before {
            background: url('http://localhost:3000/images/Berserker10.png') no-repeat center;
            background-size: 110%;
            top: 50%;
            left: 50%;
         }
         &-vampire::before {
            background: url('http://localhost:3000/images/Necromancer3.png') no-repeat center;
            background-size: 110%;
            top: 50%;
            left: 50%;
         }
      }
      .hero-card-img {
         width: 100%;
         height: 64%;
         overflow: hidden;
         // background: white;
         // background: url('http://localhost:3000/images/Cryomancer4.png');
         display: flex;
         align-items: center;
         justify-content: center;
         position: relative;
      }
      .hero-card-desc {
         width: 100%;
         height: 15%;
         // background: rgba(0, 0, 0, 0.1);
         display: flex;
         align-items: flex-end;
         // justify-content: center;
         margin-left: 10px;
         color: rgb(181, 246, 255);
         font-size: 1.2rem;
         font-weight: 700;
      }
      .hero-card-sell-button {
         width: 100%;
         height: 21%;
         display: flex;
         margin-left: 10px;
         // justify-content: center;
         align-items: center;
         // background: darkblue;
         p {
            color: white;
            font-weight: 700;
            margin-left: 10px;
         }
         button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            padding: 0.5em;
            cursor: pointer;
            height: 70%;
            border: none;
            font-family: $poppins;
            // background: linear-gradient(
            //    0deg,
            //    rgba(179, 177, 177, 1) 0%,
            //    rgba(255, 255, 255, 1) 100%
            // );
            background: white;
            font-size: 0.9rem;
            font-weight: 600;
            color: #333;
            border-radius: 5px;
            box-shadow: inset 2px 2px 10px 1px rgba(0, 0, 0, 0.5);
            &:active {
               box-shadow: inset 0px 0px 0px #aaaaaa;
            }
         }
      }
   }
   &:active > .user-nfts-card-hero > .hero-card-sell-button > button {
      box-shadow: inset 0px 0px 0px #aaaaaa;
   }
   .nfts-card-header {
      &-common,
      &-uncommon,
      &-rare,
      &-epic,
      &-legendary {
         position: absolute;
         width: 100%;
         height: 30%;
         bottom: -10%;
         display: flex;
         align-items: center;
         justify-content: center;
         padding-bottom: 10px;
         font-weight: 700;
         z-index: 1;
         border-radius: 0px 0px 10px 10px;
      }
      &-common {
         background: radial-gradient(
            circle,
            rgba(255, 255, 255, 1) 0%,
            rgba(181, 177, 177, 1) 100%
         );
         box-shadow: inset 0px -26px 0px rgba(255, 255, 255, 0.4);
      }
      &-uncommon {
         background: radial-gradient(circle, rgba(247, 255, 103, 1) 0%, rgba(226, 187, 31, 1) 100%);
         box-shadow: inset 0px -26px 0px rgba(255, 255, 255, 0.4);
      }
      &-rare {
         background: radial-gradient(circle, rgba(250, 166, 166, 1) 0%, rgba(213, 39, 39, 1) 100%);
         box-shadow: inset 0px -26px 0px rgba(255, 255, 255, 0.4);
      }
      &-epic {
         background: radial-gradient(circle, rgba(241, 112, 255, 1) 0%, rgba(120, 29, 159, 1) 100%);
         box-shadow: inset 0px -26px 0px rgba(255, 255, 255, 0.4);
      }
      &-legendary {
         background: radial-gradient(circle, rgba(153, 239, 240, 1) 0%, rgba(32, 149, 180, 1) 100%);
         box-shadow: inset 0px -26px 0px rgba(255, 255, 255, 0.4), 0px 20px 0px red;
      }
   }
}
